/*!
 * style.css
 *
 * Copyright 2012 The Center for Pharmaceutical Research, PC
 */

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

/* Body and structure
-------------------------------------------------- */
body {
  position: relative;
  padding-top: 40px;
}

.pull-center {
  text-align: center;
}

/* Navbar tweaks
-------------------------------------------------- */
/*.navbar a.brand {
  padding: 12px 20px 0 20px;
}*/

.brand .logo {
  float: left;
}

.brand .navbar-site-title-phone {
  float:left;
  line-height: 40px;
}


/* Jumbotrons
-------------------------------------------------- */

/* Base class */
.esfit-jumbotron {
  position: relative;
  margin-bottom: 20px;
  padding: 30px 15px;
  color: #fff;
  text-align: center;
  background-color: #b94a48;
}

.esfit-jumbotron h1 {
  font-size: 50px;
}

/* Link styles (used on .masthead-links as well) */
.esfit-jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.esfit-jumbotron a:hover {
  color: #fff;
}

/* Volunteer button */
.esfit-jumbotron .btn {
  padding: 18px 24px;
  font-size: 21px;
  color: #b94a48; /* redeclare to override the `.jumbotron a` */
  background-color: #fff;
}
.esfit-jumbotron .btn,
.esfit-jumbotron .btn:hover,
.esfit-jumbotron .btn:active {
  color: #b94a48; /* redeclare to override the `.jumbotron a` */
  background-color: #fff;
  border-color: #fff;
}


/* Masthead (cprkc home)
------------------------- */
.masthead h1 {
  line-height: 1;
}

/* Textual links in masthead */
.masthead-links {
  margin: 20px 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}

/* Subhead (other pages)
------------------------- */
.subhead {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.subhead h1 {
  font-size: 60px;
}
.subhead p {
  margin-bottom: 20px;
}
.subhead .navbar {
  display: none;
}


/* Marketing section of study pages
-------------------------------------------------- */

.marketing {
  text-align: center;
  color: #5a5a5a;
}
.marketing h1 {
  margin: 60px 0 10px;
  font-size: 50px;
  line-height: 1;
}
.marketing h2 {
  margin-bottom: 5px;
}
.marketing p {
  font-size: 16px;
  line-height: 1.4;
}
.marketing .marketing-byline {
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.25;
  color: #999;
}
.marketing .marketing-subheading {
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.25;
  color: #999;
}
.marketing-img {
  display: block;
  margin: 30px auto 10px;
  max-height: 145px;
}




/* Navbar tweaks
-------------------------------------------------- */


/* Sidenav for Docs
-------------------------------------------------- */

.esfit-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.esfit-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.esfit-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.esfit-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.esfit-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.esfit-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.esfit-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.esfit-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.esfit-sidenav .active .icon-chevron-right,
.esfit-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.esfit-sidenav.affix {
  top: 40px;
}
.esfit-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}



/* Footer
-------------------------------------------------- */

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}




/* Responsive variations
-------------------------------------------------- */

/* Phones */
@media screen and (max-width: 480px) {
  .navbar .brand .navbar-site-title {
    font-size: 16px;
  }
}

/* Tablets and up */
@media screen and (min-width: 768px) {

}

/* Tablets/desktops and up */
@media screen and (min-width: 992px) {

}

/* Large desktops and up */
@media screen and (min-width: 1200px) {

}


