
<div class="control-group">
  <label class="control-label" for"clientTriceps">Triceps</label>
  <div class="controls">
    <input name="clientTriceps" id="clientTriceps" type="text" ng-model="client.triceps">
  </div>
</div>

<div class="control-group">
  <label class="control-label" for"clientSuprailiac">Suprailiac</label>
  <div class="controls">
    <input name="clientSuprailiac" id="clientSuprailiac" type="text" ng-model="client.suprailiac">
  </div>
</div>

<div class="control-group">
  <label class="control-label" for"clientQuadriceps">Quadriceps</label>
  <div class="controls">
    <input name="clientQuadriceps" id="clientQuadriceps" type="text" ng-model="client.quadriceps">
  </div>
</div>