
<div class="control-group">
  <label class="control-label" for"clientTriceps">Triceps</label>
  <div class="controls">
    <input name="clientTriceps" id="clientTriceps" type="text" ng-model="client.triceps">
  </div>
</div>

<div class="control-group">
  <label class="control-label" for"clientPectoral">Pectoral</label>
  <div class="controls">
    <input name="clientPectoral" id="clientPectoral" type="text" ng-model="client.pectoral">
  </div>
</div>

<div class="control-group">
  <label class="control-label" for"clientMidaxilla">Midaxilla</label>
  <div class="controls">
    <input name="clientMidaxilla" id="clientMidaxilla" type="text" ng-model="client.midaxilla">
  </div>
</div>

<div class="control-group">
  <label class="control-label" for"clientSubscapula">Subscapula</label>
  <div class="controls">
    <input name="clientSubscapula" id="clientSubscapula" type="text" ng-model="client.subscapula">
  </div>
</div>

<div class="control-group">
  <label class="control-label" for"clientAbdomen">Abdomen</label>
  <div class="controls">
    <input name="clientAbdomen" id="clientAbdomen" type="text" ng-model="client.abdomen">
  </div>
</div>

<div class="control-group">
  <label class="control-label" for"clientSuprailiac">Suprailiac</label>
  <div class="controls">
    <input name="clientSuprailiac" id="clientSuprailiac" type="text" ng-model="client.suprailiac">
  </div>
</div>

<div class="control-group">
  <label class="control-label" for"clientQuadriceps">Quadriceps</label>
  <div class="controls">
    <input name="clientQuadriceps" id="clientQuadriceps" type="text" ng-model="client.quadriceps">
  </div>
</div>
