
<div class="control-group">
  <label class="control-label" for"clientPectoral">Pectoral</label>
  <div class="controls">
    <input name="clientPectoral" id="clientPectoral" type="text" ng-model="client.pectoral">
  </div>
</div>

<div class="control-group">
  <label class="control-label" for"clientAbdomen">Abdomen</label>
  <div class="controls">
    <input name="clientAbdomen" id="clientAbdomen" type="text" ng-model="client.abdomen">
  </div>
</div>

<div class="control-group">
  <label class="control-label" for"clientQuadriceps">Quadriceps</label>
  <div class="controls">
    <input name="clientQuadriceps" id="clientQuadriceps" type="text" ng-model="client.quadriceps">
  </div>
</div>