<label for"">Triceps</label>
<input name="triceps" type="text" ng-model="client.triceps">

<label for"">Pectoral</label>
<input name="pectoral" type="text" ng-model="client.pectoral">

<label for"">Midaxilla</label>
<input name="midaxilla" type="text" ng-model="client.midaxilla">

<label for"">Subscapula</label>
<input name="subscapula" type="text" ng-model="client.subscapula">

<label for"">Abdomen</label>
<input name="abdomen" type="text" ng-model="client.abdomen">

<label for"">Suprailiac</label>
<input name="suprailiac" type="text" ng-model="client.suprailiac">

<label for"">Quadriceps</label>
<input name="quadriceps" type="text" ng-model="client.quadriceps">